<div class="hero">
    <div class="hero-slide">
        <div class="img overlay" style="background-image: url('images/hero_bg_3.jpg')"></div>
    </div>
    <div class="container pt-3">
        <div class="row justify-content-center align-items-center">
            <div class="col-lg-9 text-center">
                <h1 class="heading" data-aos="fade-up">
                    Create New Property
                </h1>
                <form [formGroup]="form" method="post">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-12">
                                <input type="text" formControlName="title" id="title" name="title" class="form-control"
                                    placeholder="Title" />
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-6">
                                <textarea name="description" formControlName="description" class="form-control"
                                    placeholder="Description" id="description" name="description"></textarea>
                            </div>
                            <div class="col-6">
                                <textarea name="address" formControlName="address" class="form-control"
                                    placeholder="Address" id="address"></textarea>
                            </div>
                        </div>
                        <div class="row pt-3 pb-3">
                            <div class="col-4">
                                <input type="text" formControlName="city" id="city" class="form-control px-4"
                                    placeholder="City" />
                            </div>
                            <div class="col-4">
                                <input type="text" formControlName="state" id="state" class="form-control px-4"
                                    placeholder="State" />
                            </div>
                            <div class="col-4">
                                <input type="text" formControlName="pincode" id="pincode" class="form-control px-4"
                                    placeholder="Pincode" />
                            </div>
                        </div>
                        <div class="row pt-3 pb-3">
                            <div class="col-6">
                                <input type="text" formControlName="propertytype" id="propertytype"
                                    class="form-control px-4" placeholder="Property Type" />
                            </div>
                            <div class="col-6">
                                <input type="text" formControlName="price" id="price" class="form-control px-4"
                                    placeholder="Price" />
                            </div>
                        </div>
                        <div class="row pt-3 pb-3">

                            <div class="col-12">
                                <input type="text" formControlName="thumbnailImage" id="thumbnailImage"
                                    class="form-control px-4" placeholder="Thumbnail Image" />
                            </div>
                        </div>
                    </div>
                    <button type="button" (click)="onCreateNewProperty()" class="btn btn-primary mt-4">Add
                        Property</button>
                </form>
            </div>
        </div>
    </div>
</div>