<div class="hero">
    <div class="hero-slide">
        <div class="img overlay" style="background-image: url('images/hero_bg_3.jpg')"></div>
    </div>
    <div class="container pt-3">
        <div class="row justify-content-center align-items-center">
            <div class="col-lg-9 text-center">
                <h1 class="heading" data-aos="fade-up">
                    Create New Property
                </h1>
                <form action="#" class="narrow-w form-search align-items-stretch mb-3" data-aos="fade-up"
                    data-aos-delay="200">
                    <div class="row">
                        <div class="col-12">
                            <input type="text" class="form-control px-4" placeholder="Title" />
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-6">
                            <textarea name="" class="form-control px-4" placeholder="Description" id=""></textarea>
                        </div>
                        <div class="col-6">
                            <textarea name="" class="form-control px-4" placeholder="Address" id=""></textarea>
                        </div>
                    </div>
                    <div class="row pt-3 pb-3">
                        <div class="col-4">
                            <input type="text" class="form-control px-4" placeholder="City" />
                        </div>
                        <div class="col-4">
                            <input type="text" class="form-control px-4" placeholder="State" />
                        </div>
                        <div class="col-4">
                            <input type="text" class="form-control px-4" placeholder="Pincode" />
                        </div>
                    </div>
                    <div class="row pt-3 pb-3">
                        <div class="col-6">
                            <input type="text" class="form-control px-4" placeholder="Property Type" />
                        </div>
                        <div class="col-6">
                            <input type="text" class="form-control px-4" placeholder="Price" />
                        </div>
                    </div>
                    <div class="row pt-3 pb-3">

                        <div class="col-12">
                            <input type="text" class="form-control px-4" placeholder="Thumbnail Image" />
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary mt-4">Add Property</button>
                </form>
            </div>
        </div>
    </div>
</div>